@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h5 {
  margin: 0;
  padding: 0;
}

h6 {
  margin: 0;
}

.children {
  min-height: 100vh;
}